{% extends 'base.html' %}

{% block title %}
<title>Add an act</title>
{% endblock %}

{% block body %}

<form action="{{ url_for('add_act')}}" method="post">
    <label for="dateandtimeofservice">Date Of Service:</label>
    <input type="datetime-local" id="dateandtimeofservice" name="dateandtimeofservice" required><br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required><br>
    <label for="doctor_id">Doctor's ID:</label>
    <input type="number" id="doctor_id" name="doctor_id" required><br>
    <label for="patient_id">Patient's ID:</label>
    <input type="number" id="patient_id" name="patient_id" required><br>
    <label for="service_id">Service's ID:</label>
    <input type="number" id="service_id" name="service_id" required><br>

    <button type="submit">Add an Act</button>
</form>

{% endblock %}