{% extends 'base.html' %}

{% block title %}
<title>Departments</title>
{% endblock %}

{% block body %}
<div>
    <h1>Departments</h1>
    <a href="{{ url_for('add_department') }}" class="btn btn-primary">Создать</a>

</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
    </tr>
    </thead>

    <tbody>
    {% for department in departments %}
    <tr>
        <th scope="row">{{ department.id }}</th>
        <td>{{ department.name }}</td>
        <td>
            <form action="{{ url_for('edit_department_func', department_id=department.id) }}" method="post">
                <input type="hidden" name="_method" value="PUT">
                <button type="submit" class="btn btn-primary">Изменить</button>
            </form>

            <form action="{{ url_for('delete_department', department_id=department.id) }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </td>
    </tr>

    {% endfor %}
    </tbody>

</table>
{% endblock %}