{% extends 'base.html' %}

{% block title %}
<title>Doctors</title>
{% endblock %}

{% block body %}
<div>
    <h1>Doctors List</h1>

<a href="{{ url_for('add_doctor') }}" class="btn btn-primary">Создать</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Surname</th>
        <th scope="col">Name</th>
        <th scope="col">Second Name</th>
        <th scope="col">Moment of Start Working</th>
        <th scope="col">Sex</th>
        <th scope="col">Specialization</th>
        <th scope="col">Department</th>
    </tr>
    </thead>

    <tbody>
    {% for doctor in doctors %}
    <tr>
        <th scope="row">{{ doctor.id }}</th>
        <td>{{ doctor.surname }}</td>
        <td>{{ doctor.name }}</td>
        <td>{{ doctor.secondname }}</td>
        <td>{{ doctor.momentofstartworking }}</td>
        <td>{{ doctor.sex.name if doctor.sex else '' }}</td>
        <td>{{ doctor.specialization.name if doctor.specialization else '' }}</td>
        <td>{{ doctor.department.name if doctor.department else '' }}</td>
        <td>
            <form action="{{ url_for('edit_doctor_func', doctor_id=doctor.id) }}" method="post">
                <input type="hidden" name="_method" value="PUT">
                <button type="submit" class="btn btn-primary">Изменить</button>
            </form>

            <form action="{{ url_for('delete_doctor', doctor_id=doctor.id) }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock %}