{% extends 'base.html' %}

{% block title %}
<title>Add / Edit a doctor</title>
{% endblock %}

{% block body %}

<form action="{{ url_for('edit_doctor') }}" method="post">
    <label for="surname">Фамилия:</label>
    <input type="text" id="surname" name="surname" placeholder="Введите фамилию" value="{{ doctor.surname }}" required><br>

    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" placeholder="Введите имя" value="{{ doctor.name }}" required><br>

    <label for="secondname">Отчество:</label>
    <input type="text" id="secondname" name="secondname" placeholder="Введите отчество" value="{{ doctor.secondname }}"><br>

    <label for="momentofstartworking">Дата начала работы:</label>
    <input type="date" id="momentofstartworking" name="momentofstartworking" placeholder="Выберите дату" value="{{ doctor.momentofstartworking }}" required><br>

    <label for="sex">Пол:</label>
    <select id="sex" name="sex">
        {% for sex in sexes %}
        <option value="{{ sex.id }}">{{ sex.name }}</option>
        {% endfor %}
    </select><br>

    <label for="specialization">Специализация:</label>
    <select id="specialization" name="specialization">
        {% for specialization in specializations %}
        <option value="{{ specialization.id }}">{{ specialization.name }}</option>
        {% endfor %}
    </select><br>

    <label for="department">Отделение:</label>
    <select id="department" name="department">
        {% for department in departments %}
        <option value="{{ department.id }}">{{ department.name }}</option>
        {% endfor %}
    </select><br>

    <button type="submit">Добавить</button>
</form>

{% endblock %}
