{% extends 'base.html' %}

{% block title %}
<title>Specializations</title>
{% endblock %}

{% block body %}
<div>
    <h1>Specializations</h1>
    <a href="{{ url_for('add_specialization') }}" class="btn btn-primary">Создать</a>

</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
    </tr>
    </thead>

    <tbody>
    {% for specialization in specializations %}
    <tr>
        <th scope="row">{{ specialization.id }}</th>
        <td>{{ specialization.name }}</td>
        <td>
            <form action="{{ url_for('edit_specialization_func', specialization_id=specialization.id) }}" method="post">
                <input type="hidden" name="_method" value="PUT">
                <button type="submit" class="btn btn-primary">Изменить</button>
            </form>

            <form action="{{ url_for('delete_specialization', specialization_id=specialization.id) }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </td>
    </tr>

    {% endfor %}
    </tbody>

</table>
{% endblock %}